*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mybtn:checked + label {
    background-color: white;
    color: black;
}

.box1:checked + label {
    background-color: red;
    color: black;
}


.register, .login{
	width: 500px;
	height: 400px;
	background-color: yellow;
}

.indication1{
	background-color: red;
	font-size: 25px;
}

.indication2{
	background-color: white;
	color: black;
	font-size: 25px;
}

.indication3{
	font-size: 25px;
}

