<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Register</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>
	<div class="container">
		<div class="headiing">
			<h1>Welcome to Our bus <span th:text="${currentUser.email}"></span></h1>
		</div>
		<br>


	</div>


</body>
</html>