<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/all.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>Bhanu Gold Theatre</h4>
			</div>
				<ul class="list">
					<li><a th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:href="@{/setting}"><i class="fas fa-cogs"></i>&nbsp;&nbsp;Setting</a></li>
					<li th:if="${session.user.bid==1}"><a th:classappend="${menu == 'allusers'} ? 'text-dark' : ' '" th:href="@{/all-customers-records}"><i class="fas fa-users"></i>&nbsp;&nbsp;All Users</a></li>
					<li><a th:href="@{/order-history}"><i class="fas fa-history"></i>&nbsp;&nbsp;Orders</a></li>
					<li><a href=""><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a href=""><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
					<li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
				</ul>
			</div>
			<div class="col-9 history">
				<div class="history-section">
					<div class="history-head">
						<p>
							<span><i class="fas fa-user"></i></span>&nbsp;<span
								class="name-user" th:if="${session.user.name}"
								th:text="${session.user.name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><i class="fas fa-envelope"></i>
								<sup><i class="fas fa-sms"></i></sup></span>
						</p>
					</div>

							<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Password</th>
							<th scope="col">All seats</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="customer: ${records}">
							<th th:text="${customer.bid}"></th>
							<th th:text="${customer.name}"></th>
							<th th:text="${customer.email}"></th>
							<th th:text="${customer.password}"></th>
							<th><a th:href="@{all-seats/{id}(id=${customer.bid})}">view seats</a></th>

						</tr>


					</tbody>
				</table>

						

				</div>
			</div>
		</div>

	</div>

	<!-- <script th:inline="javascript">
	let str = [[${list1}]];
	let obj = JSON.parse(str);
	console.log(obj.seat);
	document.write(obj);
	
	</script> -->
</body>
</html>